doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title Baraka Shop
    |     
    link(rel='stylesheet', href='/css/style.css')
  body
    .content
        |You have successfully made your purchase.<br>
        |We will inform you of when your good has been dispatched and the proceeding steps.<br><br><br>
        a.text(href='/')|Continue shopping?
         span
         span
         span
         span
        